<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__CSS__commen-style.css">
    <link rel="stylesheet" href="__CSS__main-style.css">
    <title>留言</title>
    <script src="__JS__jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="top clear">
                <div class="title"><h2>留言板</h2></div>
                <div class="right"><a href="#word" rel="noopener noreferrer">发表留言</a><img id="head"  url="{present name='userinfo'}{:url('index/login/off')}{else /}{:url('index/index/sign')}{/present}" {present name="userinfo"}login="1"{/present} src="__UPLOAD__images/{present name='userinfo'}{$userinfo.image}" title="{$userinfo.username}--点击退出" {else /}default.jfif" title="点击登录"{/present}></div>
            </div>
            <hr>
            <div class="show-box">
                <div class="liuyan-rows">
                {present name='data'}
                {volist name="data", id="row"}
                    <div class="liuyan-row">
                        <div class="liuyan-head">
                            <a><img src="__UPLOAD__images/{empty name='$row.users.image'}default.jfif{else /}{$row.users.image}{/empty}" alt="">{$row.users.username}</a>
                        </div>
                        <div class="liuyan-content">
                            <p>{$row.content}</p>
                        </div>
                        <div class="liuyan-footer clear">
                            <ul>
                                <li><span class="date">{$row.wid}楼</span></li>
                                <li><span class="great" url="{:url('star/word/'.$row.wid)}">赞({$row.star})</span></li>
                                <li><span class="date">{$row.create_time}</span></li>
                                <li><span class="reply comment-box-button" count="13">评论</span></li>
                            </ul>
                        </div>
                        <div class="comment-box">
                        {volist name="row['comments']" id="comment"}
                            <div class="comment-row clear">
                                <img src="__UPLOAD__images/{empty name='$row.users.image'}default.jfif{else /}{$row.users.image}{/empty}" alt="">
                                <div class="comment">
                                    <p><span class="user">{$comment.username}</span>{notempty name="$comment.to_username"}回复<span class="user">{$comment.to_username}</span>{/notempty}:{$comment.content}</p>
                                    <div class="comment-footer clear">
                                        <ul>
                                            <li><span class="great" url="{:url('star/comment/' . $comment.cid)}"">赞({$comment.star})</span></li>
                                            <li><span class="date">{$comment.create_time}</span></li>
                                            <li><span class="reply reply-comment" data="{$comment.uid}&{$comment.cid}&{$comment.username}">回复</span></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        {/volist}
                            <div class="comment-reply">
                                <form action="{:url('index/comments/post')}" class="clear" method="post" refresh="{:url('index/comments/list', 'wid=' . $row.wid)}">
                                    <textarea name="content" value=""></textarea>
                                    <input type="hidden" name="wid" value="{$row.wid}">    
                                    <div class="comment-submit">
                                        <input type="button" class="comment-reply-cancel" value="取消">
                                        <input type="button" class="comment-reply-submit" value="回复">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {/volist}
                {/present}
                </div>
            </div>
            <div id="word" class="release-box">
                <div class="title">
                    <h3>发表留言</h3>
                </div>
                <form action="{:url('index/words/post')}" method="post"  class="word     clear">
                    <div class="edit">
                        <textarea name="content" id=""></textarea>
                    </div>
                    <div class="submit">
                        <input type="button" id="lSend" value="发表">
                        <input type="button" id="clSend" value="取消">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- //content -->
</body>
<script src="__JS__main.js"></script>
<script src="__JS__http.js"></script>
<script src="__JS__star.js"></script>
</html>
