<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyBBS--用户注册</title>
    <link rel="stylesheet" href="__CSS__commen-style.css">
    <link rel="stylesheet" href="__CSS__sign-style.css">
</head>
<body>
    <div class="wrapper">
        <div class="sign-box">
            <div class="sign-title"><h2>用户注册</h2></div>
            <div class="sign-content">
                <form action="{:url('index/register/sign')}" method="post" entyle="application/x-www-form-urlencode">
                    <div class="sign-content-row">
                        <label for="username">用户名</label><input type="text" name="username" require>
                    </div>
                    <div class="sign-content-row">
                        <label for="email">邮箱</label><input type="email" name="email" require>
                    </div>
                    <div class="sign-content-row">
                        <label for="password">密码</label><input type="password" name="password" require>
                    </div>
                    <div class="sign-content-row">
                        <label for="confirm">确定密码</label><input type="password" name="confirm" require>
                    </div>
                </form>
                <div class="warn"></div>
                <div class="button">
                    <button id="register">注册</button>
                </div>
                <div class="sign-footer clear">
                    <a href="{:url('index/index/sign')}">已注册</a>
                </div>
            </div>
        </div>
    </div>
    <script src="__JS__jquery.min.js"></script>
    <script src="__JS__register.js"></script>
</body>
</html>
