<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myBBS</title>
    <link rel="stylesheet" href="__CSS__commen-style.css">
    <link rel="stylesheet" href="__CSS__sign-style.css">
</head>
<body>
    <div class="wrapper">
        <div class="sign-box">
            <div class="sign-title"><h2>用户注册</h2></div>
            <div class="sign-content">
                <form action="" method="post">
                    <div class="sign-content-row">
                        <label for="username">用户名</label><input type="text" name="username">
                    </div>
                    <div class="sign-content-row">
                        <label for="email">邮箱</label><input type="text" name="username">
                    </div>
                    <div class="sign-content-row">
                        <label for="password">密码</label><input type="text" name="username">
                    </div>
                    <div class="sign-content-row">
                        <label for="confirm">确定密码</label><input type="password" name="comfirm">
                    </div>
                </form>
                <div class="warn">密码错误</div>
                <div class="button">
                    <button id="login">注册</button>
                </div>
                <div class="sign-footer clear">
                    <a href="">已注册</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
