<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyBBS--用户登录</title>
    <link rel="stylesheet" href="__CSS__commen-style.css">
    <link rel="stylesheet" href="__CSS__sign-style.css">
</head>
<body>
    <div class="wrapper">
        <div class="sign-box">
            <div class="sign-title"><h2>用户登录</h2></div>
            <div class="sign-content">
                <form action="{:url('index/login/on')}" method="post" entype="application/x-www-form-urlencode">
                    <div class="sign-content-row">
                        <label for="username">用户名</label><input type="text" name="username">
                    </div>
                    <div class="sign-content-row">
                        <label for="password">密码</label><input type="password" name="password">
                    </div>
                </form>
                <div class="warn"></div>
                <div class="button">
                    <button id="login">登录</button>
                </div>
                <div class="sign-footer clear">
                    <a href="{:url('index/index/register')}">还没注册</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__JS__jquery.min.js"></script>
<script src="__JS__sign.js"></script>
</html>
